name: update awesome-favs
on:
  workflow_dispatch:
  schedule:
    - cron: '30 0 * * *'

jobs:
  awesome-favs:
    name: update awesome-favs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install starred

      - name: get repository name
        run: echo "REPOSITORY_NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: update repo category by language
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY: ${{ env.REPOSITORY_NAME }}
          USERNAME: xenon007   # <-- тут твой user-аккаунт, НЕ org
        run: >
          starred
          --username "xenon007"
          --repository "${REPOSITORY}"
          --sort
          --token "${GITHUB_TOKEN}"
          --message 'awesome-favs category by language update by github actions cron, created by starred'

      - name: update repo category by topic
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY: ${{ env.REPOSITORY_NAME }}
          USERNAME: xenon007   # <-- тот же user
        run: >
          starred
          --username "xenon007"
          --repository "${REPOSITORY}"
          --sort
          --token "${GITHUB_TOKEN}"
          --message 'awesome-favs category by topic update by github actions cron, created by starred'
          --topic
          --topic_limit 1500
          --filename topics.md
